<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.mit.mobile.android.content.example"
	android:versionCode="1"
	android:versionName="1.0"
>
	<uses-sdk
		android:minSdkVersion="7" android:targetSdkVersion="15" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		
	    <!-- singleTop is used here, as we don't need multiple instances of the list
	    in our back stack. This activity represents our app's home, so we need to ensure that
	    there's only one home. -->
		<activity android:name=".SimpleContentProviderExample"
			android:label="@string/app_name" android:launchMode="singleTop" >
			
			<intent-filter>
				<action	android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<!-- this hooks in search -->
			
			<intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
    	    </intent-filter>
        
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		
		<!-- MessageDetails displays the contents of one message. Android will automatically
			associate the intent with this class due to this manifest declaration. -->
		<activity android:name=".MessageDetail">
			<intent-filter>
				<!-- The DEFAULT category must be specified for the system to 
					automatically handle this MIME type + action. -->
				<category android:name="android.intent.category.DEFAULT"/>
				
				<!-- This Activity will display a message, so we use the VIEW action. -->
				<action android:name="android.intent.action.VIEW" />
				
				<!-- The MIME type defaults to:
					multiple items:
					vnd.android.cursor.dir/vnd.AUTHORITY.PATH
					
					a single item:
					vnd.android.cursor.item/vnd.AUTHORITY.PATH
				 -->
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.content.example.sampleprovider.message" />
			</intent-filter>
		</activity>

		<activity android:name=".MessageEdit">
			<intent-filter>
				<!-- The DEFAULT category must be specified for the system to automatically 
					handle this MIME type + action. -->
				<category android:name="android.intent.category.DEFAULT" />
	
				<!-- This Activity will edit an existing message, so we use the EDIT action. -->
				<action android:name="android.intent.action.EDIT" />

				<data
					android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.content.example.sampleprovider.message" />
			</intent-filter>
			
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
	
				<!-- This Activity will allow us to create a new message, so we use the INSERT action. -->
				<action android:name="android.intent.action.INSERT" />
	
				<!-- We need to specify the mime type for the 'dir' of messages for INSERT -->
				<data
					android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.content.example.sampleprovider.message" />
			</intent-filter>
		</activity>

		<!-- Each ContentProvider must be defined in the manifest, so that Android 
			knows how to find the Provider given the authority. -->
		<provider
			android:name="SampleProvider"
			android:authorities="edu.mit.mobile.android.content.example.sampleprovider" />

	</application>
</manifest>